body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;

}
img {
    max-width: 100%;
    display: block;
}
main {
    width: 70%;
}
aside {
    width: 20%;
}

@media (max-width: 675px) {
    .container-flex {
        flex-direction: row;
    }
    main {
        width: 75%;
    }
    aside {
        width: 20%;
    }
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.container-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.article-recent {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}
.aticle-recent-main {
    order: 2;
}
.article-recent-secondary {
    order: 1;
    padding: 2em 0;
}
@media (min-width: 675px) {
    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }
    .article-recent-secondary {
        width: 30%
    }
    .article-recent-main {
        width: 68%;
    }
    .article-image {
        width: 100%;
        min-height: 250px;
        object-fit: cover;
    }
}

.sidebar-widget {
    box-sizing: border-box;
    border: 10px solid #F8F8F8;
    justify-content: space-between;
}

h1,
h2 {
    font-family: 'Lora', serif;
    font-weight: 400;
}
h1 {
    color: #143774;
    font-size: 3rem;
    margin: 0;
}
header {
    background: #F8F8F8;
    padding: 2em 0;
}
.subtitle {
    font-weight: 600;
    color: #1792D2;
    font-size: .75rem;
    margin: 0;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav li {
    margin: 0 1em;
    color: #707070;
}
nav a {
    color: #707070;
    text-decoration: none;
    padding: .25em 0;
}
p {
    color: #303030;
}
li {
    list-style-type: none;
    padding: 3px;
}
a:hover,
a:focus {
    color: #143774;
}
.current-page {
    border-bottom: 1px solid #707070;
}
.current-page:hover {
    color: #707070;
}
a:link {
    color: #1792D2;
}
a:visited {
    color: #1792D2;
}
a:hover,
a:focus {
    color: #143774;
}
strong {
    font-weight: 700;
}
p {
    color: #303030;
}
li {
    list-style-type: none;
    padding: 3px;
}
.article-read-more
.article-info {
    font-size: .75rem;
}
.article-read-more {
    color: #1792d2;
    text-decoration: none;
    font-weight: 700;
}
.article-read-more:hover
.article-info:focus {
    color: #143744;
}
.current-page {
    border-bottom: 1px solid #707070;
}
.current-page:hover {
    color: #707070;
}
footer {
    text-align: center;
}
